.login
  .formWrapper
    padding: 2em
    background: #FDFDFD

  .headline
    text-align: center
    padding: 20px 0

  .reset-link
    float: right
    padding: 1em 0 0 0

  input
    width 100%
    margin .25em

  button
    font-size .75em

  .error-message
    color red
